APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:4TM2O9+T+K/NlBcnH2U3Z9njDPkGru0DgTo25nUKwuc=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=central_connection
DB_CENTRAL_HOST=127.0.0.1
DB_CENTRAL_PORT=5432
DB_CENTRAL_DATABASE=msCoreMedical
DB_CENTRAL_USERNAME=postgres
DB_CENTRAL_PASSWORD=1234


TENANCY_DB_PREFIX=medical_

TENANCY_SERVICE_KEY=medical

#DB_CONNECTION=pgsql
#DB_HOST=5.78.129.143
#DB_PORT=5432
#DB_DATABASE=tenantdev
#DB_USERNAME=postgress
#DB_PASSWORD=A97ce2af

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"


#DB_CENTRAL_HOST=5.78.129.143
#DB_CENTRAL_PORT=5432
#DB_CENTRAL_DATABASE=central_connection
#DB_CENTRAL_USERNAME=postgress
#DB_CENTRAL_PASSWORD=A97ce2af
#DB_CENTRAL_SOCKET=
TELESCOPE_ENABLED=true


JWT_SECRET=MEXoR7KoTwRN9xt2nKY5iKh7Y1AlCP3QzhGzMP4mrpY8Ewxrj7xWp02r3pzwjEB7

INVENTORY_SERVICE_URL=http://dev.monaros.co/api/v1/admin

FIRMA_SERVICE_URL=http://consultorio2.medicalsoft.ai/api/v1/firma

#INVENTORY_SERVICE_URL=http://foo2.localhost:8001/api/v1/admin


N8N_SEGUIMIENTO_CRONICO_URL=https://hooks.medicalsoft.ai/webhook/seguimientocronico
N8N_RESUMEN_HISTORIA_CLINICA_URL=https://hooks.medicalsoft.ai/webhook/resumenclinico
N8N_SEGUIMIENTO_POST_CONSULTA_URL=https://hooks.medicalsoft.ai/webhook/seguimiento-postconsulta 
N8N_EDUCAR_PACIENTE_URL=https://hooks.medicalsoft.ai/webhook/postconsulta
N8N_INTELIGENCIA_COMERCIAL_URL=https://hooks.medicalsoft.ai/webhook/inteligenciacomercial
N8N_COSTO_RENTABILIDAD_URL=https://hooks.medicalsoft.ai/webhook/costosyrentabilidad
N8N_POST_CONSULTAS_URL=https://hooks.medicalsoft.ai/webhook/postconsulta
N8N_CONFIRMACION_CITA_PAGO_URL=https://hooks.medicalsoft.ai/webhook/confirmacioncita


